.heder{
    display: flex;
    padding-left:50px;
    text-align: center;
   
}
.heder li {
    margin-right: 20px;
    display: flex;

}
.heder1{
    background-color: black;
   
}
.table{
    display: flex;
    flex-direction: column;
}
.btn-excluir{
    color: black;
}
.btn-editar{
    color: black;
    text-decoration: none;
}

