<h1> Cadastrar Usuarios</h1>

<form action="/add-user" method="post">
<label for="name">Nome:</label>
<input type="text" name="name" placeholder="Nome Completo" required> <br/> <br/>

<label for="email">Email</label>
<input type="email" name="email" placeholder="Seu melhor e-mail" required> <br/> <br/>

<label for="gender">Sexo</label>
<input type="text" name="gender" placeholder="Sexo" maxlength="1"> <br/> <br/>

<label for="senha">Senha</label>
<input type="password" name="password" placeholder="Senha com 6 caracter" required> <br/> <br/>




<button type="submit">Salvar</button>
</form>